<div class="login-page">
  <h3 class="main-color">Welcome back</h3>
  <form class="col s12 login-form" method="POST" action="/auth/login">
    <div class="input-field col s12">
      <i class="material-icons prefix">email</i>
      <input id="email" type="email" class="validate" name="email">
      <label for="email">E-mail</label>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix">lock</i>
      <input id="password" type="password" class="validate" name="password">
      <label for="password">Password</label>
    </div>
    <div class="input-field col">
      <button class="btn waves-effect waves-light" type="submit" name="action">Log in
        <i class="material-icons right">send</i>
      </button>
    </div>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}
  </form>
</div>