<div class="account-container">
  {{!-- account preferences --}}
  <div class="router">
    <a href="/account/favorites">Favorites</a>
    <a href="/account/settings">Settings</a>
  </div>
  <div id="account-preferences" class="col s12">
    <h4><span class="capitalize underlined-special">{{loggedUser.name}}</span>, this are your preferences</h4>
    <ul class="collapsible">
      <li>
        <div class="collapsible-header"><i class="material-icons">restaurant</i>Your cuisines</div>
        <div class="collapsible-body cuisine-boxes">
          <div class="box-container">
            {{#each values.cuisine}}
            <div class="box" data-preference="cuisine">{{this}}</div>
            {{/each}}
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">spa</i>Your diets</div>
        <div class="collapsible-body diet-boxes">
          <div class="box-container">
            {{#each values.diet}}
            <div class="box" data-preference="diet">{{this}}</div>
            {{/each}}
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">warning</i>Your allergies</div>
        <div class="collapsible-body allergy-boxes">
          <div class="box-container">
            {{#each values.allergy}}
            <div class="box" data-preference="allergy">{{this}}</div>
            {{/each}}
          </div>
        </div>
      </li>
    </ul>
    <a id="submit-btn" class="waves-effect waves-light btn"><i class="material-icons right">cloud_done</i>Save</a>
  </div>
</div>


<script src="/javascripts/account.js"></script>