<div class="account-container">
  {{!-- account preferences --}}
  <ul class="tabs">
    <li class="tab col s3">
      <a href="/account/favorites">Favorites</a>
    </li>
    <li class="tab col s3">
      <a href="/account/preferences">Preferences</a>
    </li>
    <li class="tab col s3 ">
      <a class="active" href="/account/settings">Settings</a>
    </li>
    <li class="tab col s3 ">
      <a href="/account/shopping-cart">Cart</a>
    </li>
  </ul>
  <div id="account-preferences" class="col s12">
    <h4>This are your account settings</h4>
    <form class="col s12 account-settings-form" method="POST" action="/account/settings">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate" name="email">
          <label for="email">E-mail</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="name" type="text" class="validate" name="name">
          <label for="name">Name</label>
        </div>
      </div>
      <div class="buttons-settings">
        <button type="submit" class="waves-effect waves-light btn"><i class="material-icons right">cloud_done</i>Save</button>
        <a href="/account/settings/password" class="waves-effect waves-light btn"><i class="material-icons right">lock</i>Change
          password</a>
      </div>
    </form>
    {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}
    {{#if successMessage }}
    <div class="success-message">{{ successMessage }}</div>
    {{/if}}
  </div>
</div>


<script src="/javascripts/account.js"></script>