<div class="account-container">
  {{!-- account preferences --}}
  <ul class="tabs">
    <li class="tab col s3">
      <a href="/account/favorites">Favorites</a>
    </li>
    <li class="tab col s3">
      <a href="/account/preferences">Preferences</a>
    </li>
    <li class="tab col s3 ">
      <a class="active" href="/account/settings">Settings</a>
    </li>
    <li class="tab col s3 ">
      <a href="/account/shopping-cart">Cart</a>
    </li>
  </ul>
  <div id="account-preferences" class="col s12">
    <h4>Here you can change your password.</h4>
    <form class="col s12 account-settings-form" method="POST" action="/account/settings/password">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock_open</i>
          <input id="oldPassword" type="password" value="" class="validate" name="oldPassword">
          <label for="oldPassword">Old password</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          <input id="newPassword" type="password" class="validate" name="newPassword">
          <label for="newPassword">New password</label>
        </div>
      </div>
      <button type="submit" class="waves-effect waves-light btn"><i class="material-icons right">cloud_done</i>Save</button>
    </form>
    {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}
    {{#if successMessage }}
    <div class="success-message">{{ successMessage }}</div>
    {{/if}}
  </div>
</div>


<script src="/javascripts/account.js"></script>