<div class="account-container">
  {{!-- account preferences --}}
  <div class="router">
    <a href="/account/favorites">Favorites</a>
    <a href="/account/preferences">Preferences</a>
  </div>
  <div id="account-preferences" class="col s12">

    <a id="submit-btn" class="waves-effect waves-light btn"><i class="material-icons right">cloud_done</i>Save</a>
  </div>
</div>


<script src="/javascripts/account.js"></script>