<div class="account-container">
  <ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s3"><a href="#account-favorites">Favorites</a></li>
    <li class="tab col s3"><a class="active" href="#account-preferences">Preferences</a></li>
    <li class="tab col s3"><a href="#account-settings">Account settings</a></li>
  </ul>
  <div id="account-favorites" class="col s12 blue">Test 1</div>
  <div id="account-preferences" class="col s12 red">Test 2</div>
  <div id="account-settings" class="col s12 green">Test 3</div>
</div>