<section>
  {{!-- BASIC INFO AND PICTURES --}}
  <div class="info container">
    <div class="basic-info container">
      
    </div>
    <div class="photo container">

    </div>

    {{!-- PREFERENCES --}}
  </div>
  <div class="preferences container">
    <div class="cuisine">

    </div>
    <div class="allergy">

    </div>
    <div class="diet">

    </div>
  </div>
  <div class="favourties container">

  </div>
</section>