<section id="lp">
  <h1 id="title">TOMAAT</h1>
  <h3 id="subtitle">What are you feeling today...?</h3>


  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><a class="waves-effect waves-light btn-large">I'm Hungry</a></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Cuisine</div>
      <div class="collapsible-body"><span>
        {{#each cuisine}}
          <label id="cuisine-label">
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>{{this}} </span>
          </label>



    {{!-- <label class="button-label">
          <input class="hidden radio-label" type="checkbox" name="accept-offers" id="yes-button" checked="checked"/>
          <h1>{{this}} </h1>
    </label> --}}


          {{/each}}
        </span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Allergy</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Diet</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Course</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    {{!-- <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li> --}}
  </ul>

</section>