body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #00b7ff;
}

.navbar {
  width: 100%;
  position: fixed;
}

.login-form {
  height: 100vh;
  background: url("/images/speculative/login-background.jpg");
  background-size: cover;
}

.pt-5, .py-5 {
  padding-top: 6rem!important;
}

#lp {
  height: 100vh;
  background-image: url("../images/speculative/choppingboard-lp.jpg");
  background-size: cover;
}
body {
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  body {
    background-size: contain;
  }
}
