@font-face {
  font-family: "Road Movie";
  src: url("../Font/roadmovie.ttf"); }

body {
  margin: 0;
  padding: 0; }

#lp {
  background-image: url("../images/speculative/whitechopboard-lp.jpg");
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center; }
  #lp #title {
    font-family: "Road Movie";
    margin: 0 auto;
    text-align: center;
    font-size: 7rem;
    padding: 2rem; }
  #lp #subtitle {
    font-family: "Road Movie";
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
    padding: 1rem; }

.navbar {
  width: 100%;
  background-color: #26a69a; }

#signup-btn {
  background-color: #f95428; }

.btn-large {
  width: 100%;
  margin: 0;
  background-color: #f62459; }

#logo {
  vertical-align: sub;
  height: 2.5rem;
  margin-left: 10px; }

.main-color {
  color: #26a69a; }

.login-page,
.signup-page {
  height: 100vh;
  background: url("/images/speculative/login-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.login-form,
.signup-form {
  background-color: aliceblue;
  border-radius: 8px; }

.pt-5,
.py-5 {
  padding-top: 6rem !important; }

.capitalize {
  text-transform: capitalize; }

.bold {
  font-weight: bolder; }

.error-message {
  background-color: #e51b51;
  color: white;
  text-align: center;
  padding: 5px; }

.preferences-page {
  margin: 0;
  padding: 0;
  background: url("/images/speculative/preferences-background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  height: calc(100vh - 64px); }

.preferences-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 90px;
  background-color: #f95428;
  padding: 30px;
  border-radius: 5px;
  color: white; }
  @media only screen and (max-width: 600px) {
    .preferences-form {
      margin: 0 10px; } }
  @media only screen and (min-width: 1200px) {
    .preferences-form {
      margin: 0 200px; } }

#cuisine-form,
#allergy-form,
#diet-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.bottom-form-preferences {
  display: flex;
  justify-content: space-between; }

.underlined-special {
  text-decoration: underline;
  font-weight: 600; }

.collapsible {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin: 0.5rem 1rem 0; }

.collapsible-header {
  justify-content: space-between; }
  .collapsible-header div {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center; }
  .collapsible-header p {
    margin: 0; }
  .collapsible-header#header1 {
    padding: 0%; }
  .collapsible-header button#time {
    background-color: #736598; }
  .collapsible-header #search-input-field {
    width: 100%;
    margin: 0; }
    .collapsible-header #search-input-field input {
      border: none;
      border-color: transparent; }

.collapsible-body {
  background-color: #2bbbad; }
  .collapsible-body span {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white; }
  .collapsible-body div {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 20px; }
  .collapsible-body label {
    color: white;
    font-size: medium;
    width: 177px;
    padding-bottom: 10px; }

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  border: 2px solid; }

#cuisine-label {
  font-size: 0.8rem; }
  #cuisine-label span {
    font-size: 1rem; }

.discover-recipe-container {
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center; }
  .discover-recipe-container * {
    margin: 10px; }

.time-to-cook,
.attribute-course {
  display: flex;
  justify-content: center;
  align-items: center; }

.decide-recipes-container {
  background-image: url("/images/speculative/recipes-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: stretch; }
  .decide-recipes-container .recipe-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 40px 5px 40px 5px;
    margin: 15px;
    width: 350px;
    box-sizing: border-box;
    background-color: white; }
    .decide-recipes-container .recipe-card:hover {
      cursor: pointer;
      background-color: #26a69a;
      color: white; }
      .decide-recipes-container .recipe-card:hover .timer-course {
        color: black; }
    .decide-recipes-container .recipe-card img {
      border-radius: 5px;
      height: 200px;
      max-width: 300px; }
    .decide-recipes-container .recipe-card .card-content {
      align-self: stretch; }
    .decide-recipes-container .recipe-card .timer-course {
      display: flex;
      justify-content: space-evenly;
      font-size: 0.7em;
      color: #9c9c9c; }

#account {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  background-color: #26a69a; }
  #account .info {
    display: flex;
    flex-direction: row; }
    #account .info .photo {
      border-radius: 400px;
      height: 400px;
      width: 400px;
      background-image: url("../images/speculative/error-routing.png");
      background-size: cover;
      background-repeat: no-repeat; }
  #account .preferences {
    display: flex;
    flex-direction: row; }
  #account .favourites {
    display: flex;
    flex-direction: row; }

@media only screen and (max-width: 670px) {
  #lp {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 56px); }
    #lp #title {
      font-family: "Road Movie";
      margin: 0 auto;
      text-align: center;
      font-size: 5rem;
      padding: 1rem; }
    #lp #subtitle {
      font-size: 2rem; }
  .preferences-page {
    min-height: calc(100vh - 56px); }
  label {
    width: 160px;
    padding: 5px 0; } }

@media only screen and (min-width: 670px) {
  #lp {
    min-height: calc(100vh - 64px);
    background-size: cover;
    padding: 45px; }
  #discover-btn {
    width: 800px; } }
  @media only screen and (min-width: 670px) and (max-width: 950px) {
    #discover-btn {
      width: 600px; } }

@media only screen and (min-width: 670px) {
  .collapsible {
    margin: 0 auto;
    width: 800px; } }
  @media only screen and (min-width: 670px) and (max-width: 950px) {
    .collapsible {
      width: 600px; } }

.not-found {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a0b1b0;
  color: white; }
  .not-found * {
    margin: 20px;
    text-align: justify; }
  .not-found img {
    height: 18rem; }

/*# sourceMappingURL=style.css.map */