$main-color: #f95428;
$alternative-color: #90bc42;
$error-color: #e51b51;

body {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  position: fixed;
}

.login-page {
  height: 100vh;
  background: url("/images/speculative/login-background.jpg");
  background-size: cover;
}

.login-form {
}

.pt-5,
.py-5 {
  padding-top: 6rem !important;
}

#lp {
  height: 100vh;
  background-image: url("../images/speculative/choppingboard-lp.jpg");
  background-size: cover;
}
body {
  background-size: contain;
  background-repeat: no-repeat;
}

.error-message {
  background-color: $error-color;
  color: white;
  margin-top: 8px;
  padding: 4px;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  #lp {
    background-size: cover;
  }
}
