$main-color: #26a69a;
$alternative-color: #f95428;

$error-color: #e51b51;
$bg-nav-height: 64px;
$sm-nav-height: 56px;
$roadmove-font: "Road Movie";

@font-face {
  font-family: "Road Movie";
  src: url("../Font/roadmovie.ttf");
}

body {
  margin: 0;
  padding: 0;
}
// GLOBAL SECTION

#lp #title {
  font-family: $roadmove-font;
  margin: 0 auto;
  text-align: center;
  font-size: 7rem;
}

#lp #subtitle {
  font-family: $roadmove-font;
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
}

.navbar {
  width: 100%;
  background-color: $main-color;
}

#signup-btn {
  background-color: $alternative-color;
}

.btn-large {
  width: 100%;
  background-color: #f62459;
}

#logo {
  vertical-align: sub;
  height: 3rem;
}

.main-color {
  color: $main-color;
}

.login-page,
.signup-page {
  height: 100vh;
  background: url("/images/speculative/login-background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form,
.signup-form {
  background-color: aliceblue;
  border-radius: 8px;
}

.pt-5,
.py-5 {
  padding-top: 6rem !important;
}
.capitalize {
  text-transform: capitalize;
}

.bold {
  font-weight: bolder;
}

.error-message {
  background-color: $error-color;
  color: white;
  text-align: center;
  padding: 5px;
}

.preferences-page {
  margin: 0;
  padding: 0;
  background: url("/images/speculative/preferences-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  height: calc(100vh - #{$bg-nav-height});
}
.preferences-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 90px;
  background-color: $alternative-color;
  padding: 30px;
  border-radius: 5px;
  color: white;
  @media only screen and (max-width: 600px) {
    margin: 0 10px;
  }
  @media only screen and (min-width: 1200px) {
    margin: 0 200px;
  }
}

#cuisine-form,
#allergy-form,
#diet-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bottom-form-preferences {
  display: flex;
  justify-content: space-between;
}

.underlined-special {
  text-decoration: underline;
  font-weight: 600;
}

.collapsible {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin: 0.5rem 1rem 0;
}

.collapsible-header {
  justify-content: space-between;

  button {
    margin: 0 20px;
  }

  button#time {
    background-color: #736598;
  }
}

.collapsible-body {
  background-color: #2bbbad;
  span {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
  }
}

#cuisine-label {
  font-size: 0.8rem;
  color: #9e9e9e;
  width: 177px;
  padding-bottom: 10px;

  span {
    font-size: 1rem;
  }
}

// MOBILE SECTION

@media only screen and (max-width: 670px) {
  #lp {
    background-image: url("../images/speculative/sandwich-lp_M.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - #{$sm-nav-height});
  }

  .preferences-page {
    height: calc(100vh - #{$sm-nav-height});
  }
}

// COMPUTER SECTION
@media only screen and (min-width: 670px) {
  #lp {
    height: calc(100vh - #{$bg-nav-height});
    // height: calc(100vh);
    background-image: url("../images/speculative/whitechopboard-lp.jpg");
    background-size: cover;
    padding: 45px;
  }

  .collapsible {
    margin: 0 auto;
    width: 50%;
  }
}

// ERRORS
.not-found {
  height: calc(100vh - #{$bg-nav-height});
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a0b1b0;
  color: white;

  * {
    margin: 20px;
    text-align: justify;
  }
  img {
    border-radius: 50px;
  }
}

// @import "compass/css3";
